    .player {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: white;
        position: sticky;
        bottom: 0;
        overflow: hidden;
    }
    
    .details {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .track-name {
        font-size: 2rem;
    }
    
    .track-artist {
        font-size: 1.5rem;
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .playpause-track,
    .prev-track,
    .next-track {
        padding: 15px;
        opacity: 0.8;
        transition: opacity .2s;
    }
    
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
        opacity: 1.0;
    }
    
    .slider_container {
        width: 75%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .seek_slider, .volume_slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 5px;
        background: #FB9802;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: #e74c3c;
        cursor: pointer;
        border-radius: 50%;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
        opacity: 1.0;
    }
    
    .seek_slider {
        width: 60%;
    }
    
    .volume_slider {
        width: 30%;
    }
    
    .current-time,
    .total-duration {
        padding: 10px;
    }
    
    ion-icon.volume-down,
    ion-icon.volume-up {
        padding: 10px;
        width: 20px;
        height: 20px;
    }
    
    ion-icon.play-circle,
    ion-icon.pause-circle{
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    ion-icon.step-forward,
    ion-icon.step-backward {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    a {
        color: black;
    }
    a ion-icon.arrow-down {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }


    @media screen and (max-width: 1120px) {
        .track-name {
            font-size: 1.5rem;
            text-align: center;
        }
    
        .track-artist {
            text-align: center;
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 600px) {
        .seek_slider {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
        }
        .current-time,
        .total-duration{
            display: none;
        }
        .volume-down,
        .volume-up,
        .volume_slider {
            display: none;
        }
        .buttons {
            justify-content: center;
        }
        .player {
            padding: 0 100px;
        }
    }