@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                background-color: #F8FAFB;
                border-radius: 95px;
                height: 50px;
                width: 512px;
                font-weight: 400;
                letter-spacing: 1px;
                text-align: center;
                display: flex;
                align-items: center;
                &::placeholder {
                    text-align: center;
                }
            }
        }
        ul {
            display: flex;
            li {
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: #323232;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #323232;
                    &:hover {
                        color: #FE8F5D;
                    }
                }
            }
        }
    }
}

main {
    height: 1076px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 130px;
    .main__left {
        display: flex;
        justify-content: center;
        height: 100%;
        background-color: rgb(255, 245, 230);
        width: 300px;
        border-radius: 10px;
        .main__left__container {
            width: 90%;
            margin-top: 23px;
            .performers {
                h2 {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #FE8F5D;
                    text-align: center;
                }
            }

            .performer {
                display: flex;
                align-items: center;
                margin-top: 17px;
                &:first-child {
                    margin-top: 6px;
                }
                p {
                    margin-left: 32px;
                }
            }
        }
    }

    .main__right {
        width: 70%;
        height: 100%;
        .categories {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #323232;
            display: flex;
            flex-direction: column;
            gap: 18px;
            .line1 {
                display: flex;
                gap: 20px;
                .categorie__1 {
                    background-color: #FEF6F0;
                    border-radius: 10px;
                    width: 350px;
                    height: 128px;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #FE8F5D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .categorie__2 {
                    background-color: #FFF3F7;
                    border-radius: 10px;
                    width: 350px;
                    height: 128px;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #F15F87;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .line2 {
                display: flex;
                gap: 20px;
                .categorie__3 {
                    background-color: #F8F4FF;
                    border-radius: 10px;
                    width: 350px;
                    height: 128px;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #915CD4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .categorie__4 {
                    background-color: #F3FBFF;
                    border-radius: 10px;
                    width: 350px;
                    height: 128px;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #5DAFF2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .musics {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 71%;
            .music {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 44px;
                background-color: #F8FAFB;
                border-radius: 10px;
                padding: 0 16px;
                .music__play {
                    display: flex;
                    align-items: center;
                    p {
                        margin-left: 12px;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
        ion-icon:nth-child(1) {
            width: 24px;
            height: 24px;
            color: #FE8F5D;
            cursor: pointer;
        }
        ion-icon:nth-child(2) {
            width: 14px;
            height: 18px;
            color: #FE8F5D;
            cursor: pointer;
        }
    }
}

footer {
    height: 140px;
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: rgb(255, 245, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 196px;
    .contents {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            ul {
                display: flex;
                li {
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: #323232;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #323232;
                        &:hover {
                            color: #FE8F5D;
                        }
                    }
                }
            }
            a {
                .link {
                    width: 154px;
                    height: 32px;
                    background: #D9D9D9;
                }
            }
        }
        .bottom {
            display: flex;
            justify-content: center;
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #A2A2A2;
            }
        }
    }
}






@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .main__right {
            .categories {
                display: flex;
                justify-content: flex-start;
                width: 80%;
                .line1 {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                }
                .line2{
                    display: flex;
                    flex-direction: column;
                }
                .categorie__1{
                    width: 80%;
                }
            }
        }
    }
}